body
{
    font-family:'Roboto Mono', monospace;
    font-size:16px;
    margin:0;
}
#title
{
    text-align: center;
    background-color: teal;
    color:white;
    font-size:200%;
    width:50%;
    margin:0 auto;
}
#img-div
{
    width:300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom:15%;
}
#image
{
    display:block;
    max-width:100%;
    height:auto;
}
#tribute-info
{
    margin:0 auto;
    text-align: justify;
    color:black;
    background-color:#ecf0f1;
    width:800px;
}
#tribute-footer
{
    margin:0 auto;
    width:800px;
}
#timeline-list
{
    margin:0 auto;
    display:table;
}
#tribute-quote
{
    margin:0 auto;
    width:800px;
    background-color:#eff4ff;
}
#quote-text
{
    text-align:center;
}
#quote-author
{
    font-weight: bold;
    font-style: oblique;
    text-align: center;
}
.timeline-year
{
    font-weight:bold;
}
.sub_heading
{
    font-size:120%;
    text-align: center;
}
.timeline-item
{
    margin:3%;
}