#title
{
    text-align: center;
    background-color: teal;
    color:white;
    width:50%;
    margin:0 auto;
}
#img-div
{
    width:300px;
    height: 300px;
    margin: 0 auto;
}
#image
{
    max-width:100%;
    height:auto;
}